

.addtsk {
 padding: 20px 30px  !important;
    background-color: rgba(46, 45, 45, 0.651)!important;
    margin-top:  40px!important;
    margin-left: 20%;
    width: 56%;
   
font-size: 15px !important;
border-color:rgb(12, 11, 11)!important;


  }
  .btnadd {
    
    border-radius: 5px !important;
    color: cornsilk !important;
    border-color: rgb(12, 11, 11)!important;
    font-size: 18px!important;
  }
.mb-3{

  background-color:  rgba(46, 45, 45, 0.842)!important;
}