.footer{
    display: flex;
    flex-direction: column;
    align-items:center;
  font-size: 18px;
  margin-top: 6% !important;
  
     background: rgba(0, 0, 0, 0.295);
    
}

.blockquote-footer{
    color: rgb(219, 219, 219) !important;
 ;
    padding: 1% !important;
}